/*fonts, element selectors, classes, id's*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');


body{
    /*background-color: #FFE2B8;*/
    font-size: 16px; /*1em = 16px*/
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5em;
    position: relative;
    padding: 5px;
    margin: 5px; 
}


h1, h2,h3, h4, h5, h6{
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

ul{
    display: inline;
    font-size: 1em; 
    font-family: 'Source Sans Pro', sans-serif;
}

li{
    display: inline;
}


span, h2{
   color: gray;
}

.documentation{
    /*background-color: #FFE2B8;*/

}

.logo {
    background:url('../img/cascade icons/logo-small-bg.png');
}

.site-header{
    background-color: #E8C66A;
    /*background-image: url('../img/stardust_@2X.png');*/
    background-repeat: repeat;
}

.site-header-ghost {
    position:absolute;
    z-index:9999;
    top:0;
    right:0;
}

.masthead {
    background-color: #FFED74;
   /* background-image: url('../img/brillant_@2X.png');
    background-repeat: repeat;*/
    padding: 40px;
}

 .slogan {
    color: #FF3B3F;
    margin-top:10px;
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    /*background-color: #FFE2B8;*/
    padding: 10px;
}

.sub {
    color: #5A5A5A;
    font-size: 20px;
    font-weight: normal;
}

.logo-masthead {
    background: #fff url('../img/cascade icons/logo-masthead.png');
    width:256px;
    height:256px;
}


.highlights {
    margin: 1em auto;
    text-align: center;
    float: left;
 /*   background-color: green;*/
}

.template-header h2 {
    display: inline-block;
    margin-bottom: 10px;
}

.template-header {
    text-align: center;
}

.site-center {
    font-size: 1em;
}

.site-body{
    max-width: 100%;
    background-color: #FFE2B8;
}

.site-body p{
    color:#5A5A5A;
    font-size: 16px;
    background-color: #E89C6C;
}

.site-footer p{
    color:#5A5A5A;
    font-size: 16px;

}

.site-footer{
    width:100%;
    height:300px;
    background-color: #FF957E;
    /*background-image: url('../img/squairy_light_@2X.png');
    background-repeat: repeat;*/
}


.leuven {
    width:48%;
    max-width: 400px !important;
    float: right;
    margin: 20px;
    background-color: red;
}


@media (max-width:979px) {

.leuven {
    margin: 0 auto;
    float: none !important;
    width: 100%;
}