/*fonts, element selectors, classes, id's*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

/**{
    border: 1px solid red !important;
}*/


body{
    padding-top: 5em;
    font-size: 16px; /*1em = 16px*/
    font-family: 'Work+Sans', sans-serif;
    position: relative;
    margin: 0;
    background-color: #fff;
}

p{
    font-family: 'Work+Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    position: relative;
    padding-bottom: 1em;
    margin-bottom: 1em; 
}

h1{
    font-size: 2em;
    line-height: 2em;
    font-family: 'Shadows Into Light Two', cursive;
    position: relative;
}

h2,h3, h4, h5, h6{
    font-size: 2em;
    line-height: 2em;
    font-family:'Shadows Into Light Two', cursive;
    position: relative;
}

nav{
    font-family: sans-serif;
    font-size: 1em; 
    font-family: 'Work+Sans', sans-serif;
    background-color: #F2F1EF;
    padding-left: 1.5em;
    padding-right: 1.5em;
}


.container{
	margin-left: auto;
	margin-right: auto;
    max-width: 1024px;
}

.login{
    background-color: #F2F1EF;
}


.main-nav li{
    background-color: #F2F1EF;
    font-family: 'Work+Sans', sans-serif;
    display: inline-block;
    padding-top: 2em;
    padding-bottom: 1.2em;
    margin-left: 1em;
	margin-right: 1em;
}

.main-nav a{
    background-color: #F2F1EF;
    display:inline-block;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left:0;
    color: #333;
    
}

.login{
    float: right;
}

.site-header{
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F2F1EF;
}

.module {
  border: 0.5rem solid #AF4629;
  padding: 1rem;
  background: #F59131;
}
.module > div {
  padding: 1rem;
  background: #efefef;
}
.module * + *::after {
  content: " (lobotomized)";
  color: #AF4629;
  font-style: italic;
}

.site-footer {
    font-size: 1em; 
    text-align: center;
    background-color: #F2F1EF;
    height: 5em;
}

@media only screen and (max-width:803px){
	body {
		padding-top: 20em;
}
	nav{
    	font-family: sans-serif;
    	font-size: 1em; 
    	font-family: 'Work+Sans', sans-serif;
    	background-color: #F2F1EF;
    	padding-left: 2em;
    	padding-right: 2em;
}
	.main-nav li{
    	font-family: 'Work+Sans', sans-serif;
    	display: block;
    	padding-top: 0;
    	padding-bottom: 0;
}

	.main-nav a{
    	display:block;
    	text-decoration: none;
    	padding-top: 1em;
    	padding-bottom: 1em;
    	margin-right: 0;
    	margin-left:0;
    	color: #333;
    
}
	.login{
    	float: left;
        background-color: #F2F1EF;
}
}
@media only screen and (max-width:600px){
	body {
		padding-top: 20em;
}
	nav{
    	font-family: sans-serif;
    	font-size: 1em; 
    	font-family: 'Work+Sans', sans-serif;
    	background-color: #F2F1EF;
    	padding-left: 2em;
    	padding-right: 2em;
}
	.main-nav li{
    	font-family: 'Work+Sans', sans-serif;
    	display: block;
    	padding-top: 0;
    	padding-bottom: 0;

}

	.main-nav a{
    	display:block;
    	text-decoration: none;
    	padding-top: 1em;
    	padding-bottom: 1em;
    	margin-right: 0;
    	margin-left:0;
    	color: #333;
    
}
	.login{
    	float: left;
        background-color: #F2F1EF;
}
}

@media only screen and (max-width:480px){
    body {
        padding-top: 20em;
}
    nav{
        font-family: sans-serif;
        font-size: 1em; 
        font-family: 'Work+Sans', sans-serif;
        background-color: #F2F1EF;
        padding-left: 2em;
        padding-right: 2em;
}
    .main-nav li{
        font-family: 'Work+Sans', sans-serif;
        display: block;
        padding-top: 0;
        padding-bottom: 0;

}

    .main-nav a{
        display:block;
        text-decoration: none;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-right: 0;
        margin-left:0;
        color: #333;
    
}
    .login{
        float: left;
        background-color: #F2F1EF;
}
}
